<p>
	<h2 align="center">Add User</h2> 
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="text" class="form-control" placeholder="Username" id ="usernameInput">
	</div>
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="password" class="form-control" placeholder="Password" id ="passwordInput">
	</div>
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="text" class="form-control" placeholder="Email" id ="emailInput">
	</div>
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
		
  		<input type="text" class="form-control" placeholder="Name" id ="nameInput">
	</div>
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="text" class="form-control" placeholder="Last Name" id ="lastNameInput">
	</div>
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="text" class="form-control" placeholder="FacebookID" id ="facebookIDInput">
	</div>
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="text" class="form-control" placeholder="GoogleID" id ="googleIDInput">
	</div>
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="text" class="form-control" placeholder="Score" id ="scoreInput">
	</div>
</p>

<p>
	<div class="centered">
		<button id='addUserButton' type="button" class="btn btn-default center-block"> Add User </button>
	</div>
</p>

