<p>
	<h2 align="center">Delete User</h2> 
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="text" class="form-control" placeholder="Username" id ="usernameToDeleteInput">
	</div>
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="password" class="form-control" placeholder="Password" id ="passwordToDeleteInput">
	</div>
</p>

<p>
	<div class="centered">
		<button id='deleteUserButton' type="button" class="btn btn-default center-block"> Delete User </button>
	</div>
</p>

