<p>
	<h2 align="center">Update Score</h2> 
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="text" class="form-control" placeholder="Username" id ="usernameToUpdateInput">
	</div>
</p>

<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="password" class="form-control" placeholder="Password" id ="passwordToUpdateInput">
	</div>
</p>


<p>
	<div class="input-group col-lg-4 col-lg-offset-4">
  		<input type="text" class="form-control" placeholder="Score" id ="scoreToUpdateInput">
	</div>
</p>

<p>
	<div class="centered">
		<button id='updateUserButton' type="button" class="btn btn-default center-block"> Update Score </button>
	</div>
</p>